HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS files
.DS_Store
Thumbs.db

### IDE files ###
.idea
*.iws
*.iml
*.ipr
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

!**/src/main/**/build/
!**/src/test/**/build/

# Application properties (with secrets)
application.properties
application.yml
application-*.properties
application-*.yml